<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net462" />
  <package id="NHibernate" version="4.1.2.4000" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net462" />
</packages>